body {
    background-color: #151515;
}

header {
    background-color: #d35100;
    padding: 30px;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    padding: 0 10px;
}

a:hover {
    background-color: #f07900;
    padding: 10px;
    border-radius: 12px;
}

header a {
    color: black;
    font-weight: 700;
}

nav li {
    display: inline-block;
    color: black;
}

h1 {
    font-family: "Dancing Script";
    font-size: 70px;
    text-align: center;
    color: #d35100;
}

p {
    color: yellow;
}

section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

section p {
    border: black solid 1px;
    width: 200px;
    height: 200px;
}

.photo {
    border: black solid 1px;
    width: 200px;
    height: 200px;
    color: yellow
}

main {
    border: black solid 5px;
    margin: 50px;
    display: block;
    background-color: rgb(114, 111, 111);
}